@import "../variables.scss";

iframe {
    height: 100%;
    width: 100%;
}

.app {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    iframe {
        background-color: #fff;
        width: 100%;
        flex-grow: 1;
        min-height: 90vh;
    }
}

.wrap-button {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #ccc;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $primary;
        color: $white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s;

        &:hover {
            background-color: $secondary;
        }
    }
}